<ion-header>
  <ion-toolbar>
    <ion-title>
      Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <agm-map
  (mapReady)="mapReady($event)"
   [latitude]="lat"
   [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <h4 class="info-window">User @ {{lastPositionName}}</h4>
          <p  class="info-window">{{address}}</p>
        </agm-info-window>
      </agm-marker>
      <agm-marker *ngFor="let marker of listLocation" [latitude]="marker.position.lat" [longitude]="marker.position.lng" [iconUrl]="marker.icon">
        <agm-info-window>
            <h4  class="info-window">{{marker.name}}</h4>
            <p  class="info-window">{{marker.address}}</p>
        </agm-info-window>
    </agm-marker>
  </agm-map>

    <ion-fab bottom id="menuButtons">
      <ion-row text-center>      
        <ion-col> 
          <ion-button color="primary" (click)="checkInLocation()">Check In Location</ion-button>
        </ion-col>
        <ion-col>
          <ion-fab-button (click)="locationClicked()" >
            <ion-icon name="locate-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-fab>
</ion-content>