.agm-info-window-content > h2{
  color:black !important;
}
  agm-map {
    height: 100%;
  }
.info-window{
  color:black;
}
.check-in{
    align-items: flex-start;
    vertical-align: bottom;
}

ion-content ion-toolbar {
    --background: translucent;
  }
  
  #menuButtons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 10px;
    display: flex; 
    justify-content: space-around;
  }